<section class="section is-medium">
  <div class="container block">
    <div class="columns block">
      <div class="column has-text-centered">
        <h1 class="title is-1">Travel Friend</h1>
        <p class="block subtitle">Viaja con nosotros, con la comodidad que te mereces.</p>
      </div>
    </div>
    <div class="level">
      <div class="level-item has-text-centered">
        <div class="buttons is-flex-wrap-nowrap">
          <button class="button is-info is-outlined">Contacto</button>
          <button class="button is-primary is-large"><strong>Nuestros viajes</strong></button>
        </div>
      </div>
    </div>
    <div class="columns block">
      <div class="column is-half is-offset-one-quarter">
        <form class="box">
          <div class="field">
            <label class="label">Buscador de viajes</label>
            <div class="control">
              <input class="input" type="search" placeholder="Caracas">
            </div>
          </div>

          <div class="level">
            <div class="level-item has-text-centered">
              <button class="button is-primary is-medium is-outlined">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>