<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item" href="/nosotros">
        Quienes somos
      </a>

      <a class="navbar-item" href="/preguntas_frecuentes">
        Preguntas frecuentes
      </a>

      <a class="navbar-item" href="/contacto">
        Contacto
      </a>
      <div class="navbar-item">
        <div class="buttons">
          {{#if user}}
          <a class="button is-primary" href="/signup">
            <strong>Cerrar sesión</strong>
          </a>
          {{else}}
          <a class="button is-primary" href="/signup">
            <strong>Registro</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>