<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{!-- Icons!! --}}
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="bulma.css">
	<title>Travel Friend</title>
</head>

<body>
	{{>navbar user=user}}

	{{{body}}}

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script type="text/javascript" charset="utf8" src="fancyTable.min.js"></script>



	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" defer></script>

	<script>
		// Javascript for the page
		$(document).ready(function () {
			$('#table_id').fancyTable({
				sortColumn: 0, // column number for initial sorting
				sortOrder: 'descending', // 'desc', 'descending', 'asc', 'ascending', -1 (descending) and 1 (ascending)
				sortable: true,
				pagination: true, // default: false
				paginationClass:"button",
				paginationClassActive:"button is-info",
				searchable: false,
			//	globalSearch: true,
			//	inputClass:"padding:5px;",
			//	inputPlaceholder:"Caracas..."
			});		
		});


		// Navmenu
		document.addEventListener('DOMContentLoaded', () => {

			// Get all "navbar-burger" elements
			const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

			// Check if there are any navbar burgers
			if ($navbarBurgers.length > 0) {
				// Add a click event on each of them
				$navbarBurgers.forEach(el => {
					el.addEventListener('click', () => {
						// Get the target from the "data-target" attribute
						const target = el.dataset.target;
						const $target = document.getElementById(target);
						// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
						el.classList.toggle('is-active');
						$target.classList.toggle('is-active');

					});
				});
			}

		});
	</script>
</body>

</html>